<style>
body{
	background-color: black;
}

h2,p{
	color: white;
}

.button{
	background-color: rgb(0,73,112);
	color: white;
	font-family: verdana;
    font-size: 16px;
    cursor: pointer;
}
</style>